
<div class="pagehead"><%= @tag.name %></div>

<div id="container">
  <ul>
      <% @posts.each do |post| %>
      <div class="post">
      <div id="postimage"><%= link_to image_tag(post.image.url(:medium)), post_path(post) %></div></br>
      <div id="description"><%= post.description %></div>

      <!-- Tags -->
      <% post.tags.each do |tag|%>
          <%= link_to tag.name, "/posts/hashtag/#{tag.name.delete('#')}" %>
      <% end %>

      <!-- User name -->
     <div id="timeuser"><p>Posted <%= post.created_at.strftime("%D") %> by <%= post.user.email %></p></div>

      <!-- Edit and Delete -->
      <div id="edit"><%= link_to "Edit", edit_post_path(post) %></div>
      <div id="delete"><%= link_to "Delete", post_path(post), method: :delete %></div>
    </div>
    <% end %>
  </ul>
</div>
