<p class="pagehead">InstaBLAM!</p>

<div id="container">
  <ul>
      <% @posts.each do |post| %>
      <div class="post">
      <div id="postimage"><%= link_to image_tag(post.image.url(:medium)), post_path(post) %></div></br>
      <div id="description"><%= post.description %></div>

      <!-- Tags -->
      <% post.tags.each do |tag|%>
        <%= link_to tag.name, "/posts/hashtag/#{tag.name.delete('#')}" %>
      <% end %>

      <!-- User name -->
     <div id="timeuser"><p>Posted <%= post.created_at.strftime("%D") %> by <%= post.user.email %></p></div>

      <!-- Edit and Delete -->
      <% if current_user && post.user == current_user %>
      <div class="editdelete">
        <button id="edit"><%= link_to "Edit", edit_post_path(post) %></button>
        <button id="delete"><%= link_to "Delete", post_path(post), method: :delete %></button>
      <% end %>
      <% if current_user %>
      </br><%= link_to "â¤", post_likes_path(post), method: :post, class: 'like', method: :post %>
      <span class="likes_count"><%= post.likes.count %> </span>
      <% end %>
      </div>
    </div>
    <% end %>
  </ul>
</div>
